html.index {
    background-color: black;
}

div.head {
    margin: auto;
    width: 20em;
    border: 1px;
    border-style: solid;
    border-color: red;
}

#space {
    padding: 2em;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

#saut {
    padding: 2px;
}

#div_info {
    margin: auto;
    width: 60% ;
}

#info {
    text-align: center;
    font-style: italic;
    color: red;
}

#head_titre {
    font-style: italic;
    text-align: center;
    color: red;
}

#article1 {color:  #F08B32;}

#article2 {color: azure;}

#article3 {color: #83F1A8;}

#erik {border-color:#F08B32;}

#xtal {border-color: azure;}

#where_is_my_mind {border-color: #83F1A8;}

div.block {
    margin: auto;
    background-color: blue;
}


@media screen and (min-width:1000px) {
    
    #block-right {
        margin: auto;    
        margin-right: 70px;
        width: 30em;
    }
    
    #block-left {
        margin: auto;
        margin-left: 10px;
        width: 30em;
        /* background-color: blueviolet; */
    }
    
    #block-center {
        margin: auto;
        width: 30em;
    }
    
    img.img_right {
        margin-left: 5%;
        margin-top: -145%;
        width: 150px;
    }
    
    img.img_left {
        margin-left: 70%;
        margin-top: -130%;
        width: 150px;
    }
    
    img.img_center {
        margin-left: 70%;
        margin-top: -135%;
        width: 150px;
    }

    div.texte25 {
        width:20em;
        padding-left:10px;
        padding-right:10px;
        margin: auto;
        border: 1px;
        border-style: solid;
    }
        
}

@media screen and (max-width:1000px) {

    div.texte25 {
        font-size: 80%;
        width:100%;
        padding-left:10px;
        padding-right:10px;
        border: 1px;
        border-style: solid;
        margin-top: auto;
    }

    div.block_img {
        margin: auto;
        width: 60%;
        height: 700px;
    }

    div.head {
        background-color: #83F1A8;
    }

    div.block {
        width: 90%;
    }

    #block-right {
        margin: auto;
        margin-right: 10px;
        /* margin-right: 10px; */
    }

    #block_img_right {
        margin-right:30px;
    }

    #block_img_left {
        margin-left: 30px;
    }


    #block-left {
        margin: auto;
        margin-left: 10px;
    }
    
    #block-center {
        margin: auto;
    }

    #erik {
        margin-left: auto;
    }

    #xtal {
        margin-right: auto;
    }

    #where_is_my_mind {
        margin: auto;
    }

    img.img_right {
        /* margin-left: auto; */
        margin-bottom: -2%;
        margin-left: -30px;
        width: 90px;
    }
    
    img.img_left {
        margin-bottom: -2%;
        margin-left: -30px;
        width: 90px;
    }
    
    img.img_center {
        margin-bottom: -2%;
        margin-left: -30px;
        width: 90px;
    }
    
}

/* bug chelou à patch */
