html.index {
    background-color: black;
}

div.head {
    margin: auto;
    width: 20em;
    border: 1px;
    border-style: solid;
    border-color: red;
}

#space {
    padding: 2em;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

#saut {
    padding: 2px;
}

#div_info {
    margin: auto;
    width: 60% ;
}

#info {
    text-align: center;
    font-style: italic;
    color: red;
}

#head_titre {
    font-style: italic;
    text-align: center;
    color: red;
}

#article1 {
    color:  #F08B32;
}

#article2 {
    color: azure;
}

#article3 {
    color: #83F1A8;
}

#erik {
    margin-left: auto;
    border: 1px;
    border-style: solid;
    border-color:#F08B32;
}

#xtal {
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: azure;
}

#where_is_my_mind {
    margin:auto;
    border: 1px;
    border-style: solid;
    border-color: #83F1A8;
}

div.block-right {
    margin-left: 70%;
    width: 30em;
    /* background-color: blueviolet; */
}

div.block-left {
    margin-left: 10%;
    width: 30em;
    /* background-color: blueviolet; */
}

div.block-center {
    margin: auto;
    width: 30em;
}

img.img_right {
    margin-left: 5%;
    margin-top: -145%;
    width: 150px;
}

img.img_left {
    margin-left: 70%;
    margin-top: -130%;
    width: 150px;
}

img.img_center {
    margin-left: 70%;
    margin-top: -135%;
    width: 150px;
}

div.texte25 {
    width:20em;
    padding-left:10px;
    padding-right:10px;
}

@media screen and (min-width:1880px) {

    div.block-right {
        margin-left: 70%;
        width: 30em;
        /* background-color: blueviolet; */
    }
    
    div.block-left {
        margin-left: 10%;
        width: 30em;
        /* background-color: blueviolet; */
    }
    
    div.block-center {
        margin: auto;
        width: 30em;
    }
    
    img.img_right {
        margin-left: 5%;
        margin-top: -145%;
        width: 150px;
    }
    
    img.img_left {
        margin-left: 70%;
        margin-top: -130%;
        width: 150px;
    }
    
    img.img_center {
        margin-left: 70%;
        margin-top: -135%;
        width: 150px;
    }

}

@media screen and (max-width:1080px) {
    div.block-right {
        margin: auto;
        margin-right: 10px;
        width: 30em;
    }
    div.block-left {
        margin: auto;
        margin-left: 10px;
        width: 30em;
    }
    div.block-center {
        margin: auto;
        width: 30em;
    }
    img.img_right {
        margin-left: 27%;
        margin-top: -539px;
        width: 100px;
    }
    
    img.img_left {
        margin-left: 54%;
        margin-top: -540px;
        width: 100px;
    }
    
    img.img_center {
        margin-left: 60%;
        margin-top: -500px;
        width: 100px;
    }
    
    div.texte25 {
        font-size: 80%;
        width:20em;
        padding-left:10px;
        padding-right:10px;
    }

}

/* bug chelou à patch */
